#header {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 56px;
  color: black;
  background-color: gold;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

section {
  background-color: black;
  color: gold;
  font-size: 17px;
  width: 490px;
  height: 260px;
  margin-bottom: 40px;
  float: left;
  padding-top: 30px;

}

aside {
  background-color: black;
  color: gold;
  margin-left: 5px;
  margin-bottom: 40px;
  width: 460px;
  height: 260px;
  float: right;
  padding-top: 30px;


}

body {
  background-color: gray;
}

#crystals img {
  height: 100px;
  width: 100px;
}

#tracker {
  font-size: 50px;
}
.wrapper{
  width: 960px;
  margin: auto;
}

.clear{
  clear:both;
}

footer {
  clear:both;
  overflow: auto;
  margin-top:10px;
  background-color: gold;
  margin-bottom: 5px
}
